<template>
  <section class="max-w-7xl flex flex-col items-center mx-auto relative">
    <article class="w-full flex flex-col justify-start leading-8 py-6 lg:py-12">
      <h2 class="text-custom-orange text-3xl font-semibold my-2">
        Get in touch
      </h2>
      <p class="my-2">For business inquiry, please send email to <a class="underline" href="mailto:mhmmdrezalif@gmail.com">mhmmdrezalif@gmail.com</a></p>
      <div class="w-full mt-2 my-2">
        <a href="https://github.com/firdausreza" target="_blank" class="mr-3">
          <font-awesome-icon :icon="['fab', 'github']" size="3x" class="text-custom-brown" />
        </a>
        <a href="https://www.linkedin.com/in/rezafirdaus080/" target="_blank" class="mr-3">
          <font-awesome-icon :icon="['fab', 'linkedin']" size="3x" class="text-custom-brown" />
        </a>
        <a href="https://www.instagram.com/mhmmdrezalif/" target="_blank" class="mr-3">
          <font-awesome-icon :icon="['fab', 'instagram']" size="3x" class="text-custom-brown" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=6287736854821" target="_blank" class="mr-3">
          <font-awesome-icon :icon="['fab', 'whatsapp']" size="3x" class="text-custom-brown" />
        </a>
      </div>
    </article>
    <div class="absolute bg-ellipse-2 bottom-[-350px] right-0 blur-[120px] w-300 h-300 rounded-full"></div>
  </section>
</template>

