<template>
  <section class="max-w-7xl flex flex-col items-center mx-auto rounded-xl">
    <article class="w-full flex flex-col items-start">
      <h1 class="text-lg font-bold text-custom-orange border-b-2 border-custom-brown">Works</h1>
      <h2 class="text-4xl font-bold mt-4 text-custom-orange">Projects collections</h2>
      <p class="mt-4">The following are the projects that I worked on previously</p>
    </article>

    <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 mt-12">
      <Showcase v-for="project in projects" :key="project.id" :project="project" />
    </div>
  </section>
</template>

<script>
import Showcase from "~/components/base/Showcase";
import { mapGetters } from 'vuex';

export default {
  computed: mapGetters({
    projects: 'projects/get'
  })
}
</script>
