<template>
  <section class="max-w-7xl flex flex-col md:flex-row items-start justify-between gap-5  mx-auto">
    <article class="w-full md:w-1/2 text-white">
      <h1 class="w-max text-lg font-bold border-b-2 border-custom-brown">Skills</h1>
      <h2 class="text-4xl font-bold mt-4">Why me?</h2>
      <p class="mt-4">I always adhere to and prioritize these professional values while working</p>
    </article>
    <article class="w-full md:w-1/2 flex flex-col gap-3 py-4">
      <div class="w-full flex flex-col items-start sm:flex-row sm:items-center gap-2 sm:gap-5 p-4 rounded-sm shadow-md bg-white text-black">
        <div class="flex-1 flex justify-center items-center">
          <font-awesome-icon icon="comments" size="3x" style="color: #CC6600;" />
        </div>
        <div class="sm:w-[85%]">
          <h3 class="text-lg font-semibold text-custom-orange">Communicative</h3>
          <p class="text-sm mt-2 text-justify">
            Communication is the first value that matters! I always make sure to communicate with my colleagues smoothly.
          </p>
        </div>
      </div>

      <div class="w-full flex flex-col items-start sm:flex-row sm:items-center gap-2 sm:gap-5 p-4 rounded-sm shadow-md bg-white text-black">
        <div class="flex-1 flex justify-center items-center">
          <font-awesome-icon icon="users" size="3x" style="color: #CC6600;" />
        </div>
        <div class="sm:w-[85%]">
          <h3 class="text-lg font-semibold text-custom-orange">Collaborative</h3>
          <p class="text-sm mt-2 text-justify">
            This is the second value that matters! I can collaborate and work well within a team project (especially with developers).
          </p>
        </div>
      </div>

      <div class="w-full flex flex-col items-start sm:flex-row sm:items-center gap-2 sm:gap-5 p-4 rounded-sm shadow-md bg-white text-black">
        <div class="flex-1 flex justify-center items-center">
          <font-awesome-icon icon="arrow-right" size="3x" style="color: #CC6600;" />
        </div>
        <div class="sm:w-[85%]">
          <h3 class="text-lg font-semibold text-custom-orange">Agile</h3>
          <p class="text-sm mt-2 text-justify">
            I'm used to work in agile, quick and adaptive environment. So I can deliver the product/result quickly.
          </p>
        </div>
      </div>

      <div class="w-full flex flex-col items-start sm:flex-row sm:items-center gap-2 sm:gap-5 p-4 rounded-sm shadow-md bg-white text-black">
        <div class="flex-1 flex justify-center items-center">
          <font-awesome-icon icon="user-check" size="3x" style="color: #CC6600;" />
        </div>
        <div class="sm:w-[85%]">
          <h3 class="text-lg font-semibold text-custom-orange">Adaptive</h3>
          <p class="text-sm mt-2 text-justify">
            I'm the type of person who quickly adapts to various working conditions
          </p>
        </div>
      </div>
    </article>
  </section>
</template>
