<template>
  <article @click="cardClick" class="flex flex-col items-center mb-4 border border-custom-brown rounded-2xl cursor-pointer">
    <section class="w-full bg-gray-100 rounded-t-2xl">
      <img :src="require(`~/assets/image/projects/${project.image}`)" alt="project image" class="object-cover rounded-t-2xl">
    </section>
    <section class="w-full flex-1 px-4 py-2 rounded-b-2xl bg-gray-100">
      <h3 class="text-custom-brown font-bold">
        {{ project.title }}
      </h3>
      <h4 class="text-sm">
        {{ project.category }}
      </h4>
      <div class="w-full flex flex-wrap gap-1.5 mt-2">
        <div v-for="tool in project.build" class="px-2 py-1 rounded-md bg-custom-orange text-white text-xs">
          {{ tool }}
        </div>
      </div>
    </section>
  </article>
</template>

<script>
export default {
  props: {
    project: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    cardClick() {
      window.open(this.project.link);
    }
  }
}
</script>
