<template>
	<div>
		<Header />
		<main class="px-4">
			<section id="about" class="max-w-7xl flex flex-col md:flex-row items-start md:items-center mx-auto py-6 lg:py-12 leading-relaxed">
				<article class="w-full md:w-2/5 flex flex-col justify-start mx-0 md:mx-4">
					<h1 class="text-3xl text-custom-orange font-bold break-words">
						Hello, I'm Reza Firdaus
					</h1>
					<h2 class="text-xl font-normal mt-2">
						Software Engineer in Web - Front End
					</h2>
				</article>
				<article class="w-full md:w-3/5 flex flex-col justify-start mx-0 md:mx-4 mt-6 md:mt-0 py-6">
					<p>
						Hi! My name is Reza, people also call me Ali. I live in Indonesia and I graduated from Bachelor Degree
						of Informatics at Islamic University of Indonesia. I remember when I became interested in programming and application
						development, it was while studying web development course in college. For me, programming itself is quite unique and
						it can grind our creativity in problem solving.
						<br>
						<br>
						I'm a Frontend Developer enthusiast, a lifelong learner who always had the curiosity to learn
						frontend technologies. Although I have a lot of enthusiasm in Frontend Development, it does not rule out to
						learn Backend Development. Because my dream is to become a Fullstack Developer.
						<br>
						<br>
						I had my first experience in terms of professional development by doing an internship for 6 months and got another
						extra 3-months of part-time opportunity. I landed my first internship as Product Engineer but focused as Front End 
						Developer. I learned so many new things in either the hard skills and soft skills, like professional working ethics,
						learns how to adapt in new environment, learns the tech stack used for work, etc. As time goes by, I have been working 
						as a front end developer for more than 1 year. And currently I'm working as a front end developer for Kompas Gramedia.
					</p>
				</article>
			</section>
			<section id="experience" class="max-w-7xl flex flex-col justify-start mx-auto py-6 lg:py-12">
				<article class="w-full flex flex-col items-start">
					<h1 class="w-max 	text-lg text-custom-orange font-bold border-b-2 border-custom-brown">Experiences</h1>
					<h2 class="text-4xl text-custom-orange font-bold mt-4">Professional Experiences</h2>
					<p class="mt-4">The following are some of the companies I have worked for in the past.</p>
				</article>

				<article class="w-full flex flex-col lg:flex-row items-start mt-12">
					<section class="w-full lg:w-2/5 hidden lg:flex flex-row items-center pr-0 lg:pr-4">
						<img src="~/assets/image/jala.png" alt="img JALA" class="w-32 h-32 mr-6">
						<div class="flex flex-col justify-start">
							<h3 class="text-4xl font-semibold text-custom-orange">Jala Tech</h3>
							<h4 class="mt-2">Yogyakarta, Indonesia.</h4>
						</div>
					</section>
					<section class="relative w-full lg:w-3/5">
						<div class="border-r-2 border-custom-orange absolute left-[16px] top-0 h-full"></div>
						<ul id="items" class="list-none m-0 p-0">
							<li id="item" class="mb-2">
								<div id="circle-header-top" class="flex items-start lg:items-center">
									<div id="circle" class="bg-custom-orange rounded-full w-8 h-8"></div>
									<div id="circle-title" class="flex-1 flex flex-col gap-1 px-0 lg:px-3 mx-4">
										<div class="flex items-start gap-3 lg:hidden">
											<img src="~/assets/image/jala.png" alt="img JALA" class="w-32 h-32">
										</div>
										<h3 class="text-2xl block lg:hidden font-semibold text-custom-orange">Jala Tech</h3>
										<h4 class="text-custom-brown text-xl font-bold">Product Engineer (Front End)</h4>
									</div>
								</div>
								<div id="desc" class="ml-12 flex flex-col justify-start p-0 lg:p-3">
									<div class="w-full flex flex-row flex-wrap gap-1.5 items-center mt-2">
										<h4 class="px-2 py-1 text-sm text-white bg-custom-brown mr-2">Internship & Full-time Contract</h4>
										<p>Sep 2021 - Jun 2022 · 9 months</p>
									</div>
									<div class="w-full flex flex-col justify-start py-6 text-sm sm:text-base">
										<ul>
											<li>1. Working as Product Engineer who is responsible for Jala's software products.</li>
											<li>2. Assigned in Product (Web Platform) Engineer Team.</li>
											<li>3. Primarily working on Jala Web Apps, contributed in developing new features & bugfixes.</li>
											<li>4. Also contributed in developing bot telegram for Jala.</li>
											<li>5. Working with web technologies such as Vue, Laravel, REST API, etc.</li>
											<li>6. Working in agile (scrum) environment.</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</section>
				</article>

				<article class="w-full flex flex-col lg:flex-row items-start">
					<section class="w-full lg:w-2/5 hidden lg:flex flex-row items-center pr-0 lg:pr-4">
						<img src="~/assets/image/glance-logo.jpeg" alt="img glance" class="w-32 h-32 mr-6 border border-purple-400">
						<div class="flex flex-col justify-start">
							<h3 class="text-4xl font-semibold text-custom-orange">Glance.sg</h3>
							<h4 class="mt-2">Singapore. (Remote)</h4>
						</div>
					</section>
					<section class="relative w-full lg:w-3/5">
						<div class="border-r-2 border-custom-orange absolute left-[16px] top-0 h-full"></div>
						<ul id="items" class="list-none m-0 p-0">
							<li id="item" class="mb-2">
								<div id="circle-header-top" class="flex items-start lg:items-center">
									<div id="circle" class="bg-custom-orange rounded-full w-8 h-8"></div>
									<div id="circle-title" class="flex-1 flex flex-col gap-1 px-0 lg:px-3 mx-4">
										<div class="flex items-start gap-3 lg:hidden">
											<img src="~/assets/image/glance-logo.jpeg" alt="img glance" class="w-32 h-32 border border-purple-400">
										</div>
										<h3 class="text-2xl block lg:hidden font-semibold text-custom-orange">Glance.sg</h3>
										<h4 class="text-custom-brown text-xl font-bold">Front End Developer</h4>
									</div>
								</div>
								<div id="desc" class="ml-12 flex flex-col justify-start p-0 lg:p-3">
									<div class="w-full flex flex-row flex-wrap gap-1.5 items-center mt-2">
										<h4 class="px-2 py-1 text-sm text-white bg-custom-brown mr-2">Full-time Contract</h4>
										<p>Oct 2022 - May 2023 · 8 months</p>
									</div>
									<div class="w-full flex flex-col justify-start py-6 text-sm sm:text-base">
										<ul>
											<li>1. Implementing and creating web designs.</li>
											<li>2. Optimizing Web Applications on the front end side.</li>
											<li>3. Working with web technologies such as Vue, Laravel, Inertia.</li>
											<li>4. Assigned in tech team and collaborate directly with tech lead & other developers</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</section>
				</article>

				<article class="w-full flex flex-col lg:flex-row items-start">
					<section class="w-full lg:w-2/5 hidden lg:flex flex-row items-center pr-0 lg:pr-4">
						<img src="~/assets/image/gramed-blue-logo.png" alt="img glance" class="w-32 h-32 mr-6">
						<div class="flex flex-col justify-start">
							<h3 class="text-4xl font-semibold text-custom-orange">Gramedia</h3>
							<h4 class="mt-2">Jakarta, Indonesia. (Remote)</h4>
						</div>
					</section>
					<section class="relative w-full lg:w-3/5">
						<div class="border-r-2 border-custom-orange absolute left-[16px] top-0 h-full"></div>
						<ul id="items" class="list-none m-0 p-0">
							<li id="item" class="mb-2">
								<div id="circle-header-top" class="flex items-start lg:items-center">
									<div id="circle" class="bg-custom-orange rounded-full w-8 h-8"></div>
									<div id="circle-title" class="flex-1 flex flex-col gap-1 px-0 lg:px-3 mx-4">
										<div class="flex items-start gap-3 lg:hidden">
											<img src="~/assets/image/gramed-blue-logo.png" alt="img glance" class="w-32 h-32">
										</div>
										<h3 class="text-2xl block lg:hidden font-semibold text-custom-orange">Gramedia</h3>
										<h4 class="text-custom-brown text-xl font-bold">Front End Developer</h4>
									</div>
								</div>
								<div id="desc" class="ml-12 flex flex-col justify-start p-0 lg:p-3">
									<div class="w-full flex flex-row flex-wrap gap-1.5 items-center mt-2">
										<h4 class="px-2 py-1 text-sm text-white bg-custom-brown mr-2">Full-time Contract</h4>
										<p>Jan 2023 - Present</p>
									</div>
									<div class="w-full flex flex-col justify-start py-6 text-sm sm:text-base">
										<ul>
											<li>1. Assigned in Software Engineering Dept and Assigned in Gramedia.com (Web Apps) team as front end.</li>
											<li>2. Working closely with the front end team.</li>
											<li>3. Contributed in migrating Google Analytics 4, collaborated with SEO team.</li>
											<li>4. Primarily maintaining the web apps by doing bugfixes, and assists the other front end members by doing code review.</li>
											<li>5. Working with web technologies such as Angular (TS), Google Analytics 4, Google Tag Manager.</li>
											<li>6. Working in agile (scrum) environment.</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</section>
				</article>
			</section>
		</main>
		<Footer />
	</div>
</template>

<script>
import Header from "~/components/base/Header"
import Footer from "~/components/base/Footer"

export default {
    components: {
        Header, Footer
    }
}
</script>

<style>

</style>